@model IEnumerable<OrderApiApp2.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Clients</h1>

<p>
    
    <a href="@Url.Action("Create","Client","Client")" class="btn btn-outline-secondary">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientName)
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                    |<a href="@Url.Action("Edit","Client",new {@id=item.IdClient})" class="btn btn-outline-success">Edit</a>
                    |<a href="@Url.Action("Delete","Client",new {@id=item.IdClient})" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to delete @item.ClientName?')">Delete</a>
               
            </td>
        </tr>
}
    </tbody>
</table>
